body {
  font-family: Georgia, serif;
}

#shadow {
  border: solid black 2px;
  border-radius: 30px;
  background-color: #ffd4b0;
}

#shopping-list-title {
  text-align: center;
  margin: 20px;
  font-size: xx-large;
  border: 5px solid;
  border-radius: 10px;
  background-color: wheat;
  color: #6e4d3d;
  font-weight: bold;
  padding: 10px 0;
}

.form-control[disabled] {
  background-color: white;
}

.form-control {
  border: solid 2px #6e4d3d;
}

.input-group-text {
  background-color: #ffe293;
  border: solid 2px #6e4d3d;
  opacity: 0.9;
}

.input-group-text:hover {
  cursor: pointer;
  opacity: 1;
}

.card-footer {
  background-color: transparent;
  display: inline-flex;
  justify-content: right;
}

.trash-ingredient {
  width: 1.3em;
  height: 1.3em;
}

.add-ingredient {
  width: 1em;
  height: 1em;
}

@media only screen and (max-width: 800px) {
  .card-header {
    font-size: x-large !important;
  }
}