/* main.css */

@import url("https://fonts.googleapis.com/css2?family=Ephesis&display=swap");

* {
  font-family: Georgia, serif;
}

body {
  background-color: #ffd2cf;
}

.center-home-icon {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7%;
}

.homepage-search-bar {
  text-align: center;
}

#homepage-search-bar,
#homepage-search-btn {
  display: inline;
  position: relative;
  font-size: 30px;
}

#homepage-search-btn {
  font-size: 30px;
  font-weight: bold;
  border-radius: 10%;
  background-color: #ffa399;
}

.home-button,
.favorite-list-button,
.shopping-list-button {
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 0;
  padding: 0.1%;
  text-decoration: none;
  font-size: 25px;
}

#home-button {
  background-color: #ffa399;
  width: 70px;
  position: absolute;
  top: 5px;
  right: 230px;
}

#favorite-list-button {
  background-color: #ffa399;
  width: 90px;
  position: absolute;
  top: 5px;
  right: 135px;
}

#shopping-list-button {
  background-color: #ffa399;
  width: 120px;
  position: absolute;
  top: 5px;
  right: 10px;
}

.home-icon,
.favorite-icon,
.shopping-list-icon {
  display: block;
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: xx-large;
  font-weight: bold;
}

.search-bar {
  display: block;
  position: relative;
  top: 60px;
  left: 20px;
}

section:not(section.shown) {
  display: none;
  visibility: hidden;
}

.shown {
  visibility: visible;
}

.hidden {
  display: none;
  visibility: hidden;
}

.section-recipe-viewers-wrapper {
  height: 100%;
  width: 100%;
}

recipe-card {
  margin: 20px;
}
