/* main.css */

@import url("https://fonts.googleapis.com/css2?family=Ephesis&display=swap");

* {
  font-family: Georgia, serif;
}

body {
  background-color: #fff;
}

/* css for home page */
.center-home-icon {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7%;
}

#homepage-search-bar,
#homepage-search-btn {
  display: inline;
  position: relative;
  font-size: 30px;
}

#homepage-search-btn {
  font-size: 30px;
  font-weight: bold;
  border-radius: 10%;
  background-color: #ffe293;
}

/* css for top bar */
.topbar {
  height: 150px;
  background-color: #966751;
}

.topbar button {
  display: inline-block;
  color: black;
  background-color: #ffe293;
  font-size: 20px;
  padding: 3px 10px;
  border-radius: 3px;
}

.topbar .ml-auto {
  position: absolute;
  top: 120px;
  right: 15px;
}

#nav-search-btn {
  font-size: 15px;
  font-weight: bold;
  border-radius: 10%;
  background-color: #ffe293;
}

.nav-search-bar {
  position: absolute;
  top: 130px;
  left: 15px;
}

.home-icon,
.favorite-icon,
.shopping-list-icon {
  display: block;
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: xx-large;
  font-weight: bold;
}

.search-bar {
  display: block;
  position: relative;
  top: 60px;
  left: 20px;
}

section:not(section.shown) {
  display: none;
  visibility: hidden;
}

.shown {
  visibility: visible;
}

.hidden {
  display: none;
  visibility: hidden;
}

.section-recipe-viewers-wrapper {
  height: 100%;
  width: 100%;
}

.section-recipe-cards-wrapper {
  padding: 10px;
  height: 70%;
  width: 70%;
}

.homepage-search,
.featured-recipes {
  float: left;
  width: 50%;
  text-align: center;
}

recipe-card {
  margin: 20px;
}

/* css for the filter page */
fieldset {
  width: 170px;
  background-color: wheat;
  margin-right: 30px;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  background-color: #fff4e6;
}
