/* main.css */

@import url("https://fonts.googleapis.com/css2?family=Mukta&family=Raleway&display=swap");

* {
  font-family: Mukta, sans-serif;
}

body {
  background-color: #fff4e6;
  min-height: 100vh;
}

/* css for home page */
h2 {
  font-weight: bold;
  color: #6e4d3d;
  font-size: xx-large;
}

.center-home-icon {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7%;
}

#homepage-search-bar,
#homepage-search-btn {
  display: inline;
  position: relative;
  font-size: 30px;
  border: 1px solid black;
}

#homepage-search-btn {
  font-size: 30px;
  font-weight: bold;
  border-radius: 10%;
  background-color: #ffe293;
}

/* css for top bar */
.topbar {
  height: 150px;
  background-color: #ce905d;
}

#nav-search-bar,
#nav-search-btn {
  display: inline;
  position: relative;
  margin-top: 80px;
  font-size: 20px;
}

#nav-search-btn {
  font-size: 20px;
  font-weight: bold;
  border-radius: 10%;
  background-color: #ffe293;
}

.navbar-icons {
  margin-top: 20px;
}

.nav-flex-container {
  display: flex;
  justify-content: space-evenly;
}

section:not(section.shown) {
  display: none;
  visibility: hidden;
}

.shown {
  visibility: visible;
}

.hidden {
  display: none;
  visibility: hidden;
}

.section-recipe-viewers-wrapper {
  height: 100%;
  width: 100%;
}

.section-recipe-cards-wrapper {
  padding: 10px;
  height: 70%;
  width: 70%;
  flex-grow: 1;
}

.homepage-search,
.featured-recipes {
  float: left;
  width: 50%;
  text-align: center;
  max-height: 100%;
}

.section-featured-cards-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: stretch;
}

#featured-1,
#featured-2 {
  flex-basis: 30%;
  box-sizing: border-box;
  border: solid 2px #6e4d3d;
  border-radius: 30px;
  background-color: wheat;
}

recipe-card {
  margin: 20px;
}

/* css for the filter page */
fieldset {
  width: 170px;
  background-color: wheat;
  margin-right: 30px;
  border: 2px solid #6e4d3d;
  padding-top: 0;
  border-radius: 10px;
}

form {
  padding-bottom: 5px;
  padding-left: 10px;
}

legend {
  color: #6e4d3d;
  padding-top: 0;
  padding-bottom: 0;
}

.checkbox input {
  padding-bottom: 50px;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  background-color: #fff4e6;
}

#search-ingredients-button {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10%;
  background-color: #ffe293;
  border: solid 1px #6e4d3d;
}

#select-cuisine {
  margin-bottom: 10px;
}

@viewport {
  width: device-width;
  zoom: 1;
}

@media only screen and (max-width: 800px) {
  /* Responsive design for home page */
  .nav-flex-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }

  body {
    height: 100vh;
    width: 100vw;
  }
  
  .topbar {
    width: 100vw;
    display: flex;
  }

  .navbar-icons img {
    width: 12%;
    margin: 0.1rem 2rem;
  }

  .navbar-icons {
    margin-top: 0;
    margin-left: 0.6rem;
    order: 2;
  }

  .navbar-title {
    display: flex;
    align-items: center;
    order: 1;
    margin-top: 0.8rem;
    margin-left: 6rem;
  }

  .navbar-title img {
    width: 10rem;
  }

  .nav-search-bar {
    order: 3;
    display: none;
  }

  .logo img {
    height: 10rem;
    margin-left: 6rem;
  }

  .homepage-search {
    display: flex;
    flex-direction: column;
  }

  .homepage-search-bar {
    display: flex;
    flex-direction: row;
  }

  #homepage-search-bar {
    width: 14rem;
    height: 35px;
    margin-top: 1rem;
    margin-left: 1.8rem;
    margin-right: 0.5rem;
    border-radius: 10px;
  }

  #homepage-search-btn {
    font-size: large;
    width: 10rem;
    height: 35px;
    margin-top: 1.2rem;
    border-radius: 10px;
  }

  .section-home-page:not(.homepage-search-bar) {
    display: flex;
    flex-direction: column;
  }

  .section-featured-cards-wrapper {
    display: flex;
    flex-direction: row;
  }

  h2 {
    font-size: x-large;
    text-decoration: underline;
  }

  .featured-recipes {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
