/** apiTest.css **/

section:not(section.shown){
  display: none;
}

.shown {
 visibility: visible;
}

.hidden {
  display: none;
  visibility: hidden;
}

.section--recipe-viewers{
  height: 100%;
  width:100%;
}