/** recipeCard.css **/
#shadow {
  border: solid black 2px;
  border-radius: 30px;
  background-color: wheat;
}

#card-information {
  margin-right: 20px;
}

#recipe-title {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  color: #6e4d3d;
  background-color: lemonchiffon;
}

#recipe-dietary {
  display: flex;
  max-width: 600px;
  max-height: 500px;
  width: auto;
  height: auto;
  border-radius: 10px;
  margin-top: 20px;
}

#recipe-image {
  display: block;
  width: 70%;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

#recipe-price {
  text-align: left;
}

#recipe-servings {
  text-align: left;
}

#recipe-cooking-time {
  text-align: left;
}

#recipe-calories,
#recipe-total-calories {
  text-align: left;
  padding-left: 55px;
  padding-top: 13px;
  padding-bottom: 13px;
}

#recipe-score {
  text-align: left;
}

li > img {
  margin-right: 10px;
}
