/** recipeCard.css **/

/* For hover info from w3 */
.hoverTip {
  position: relative;
  display: inline-block;
  border-bottom: 1px black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.hoverTip,
.hoverTipText {
  visibility: hidden;
  width: 120px;
  background-color: rgb(63 35 2);
  color: wheat;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 3;
}

/* Show the tooltip text when you mouse over the tooltip container */
.hoverTip:hover,
.hoverTipText {
  visibility: visible;
}

#shadow {
  border: solid black 2px;
  border-radius: 30px;
  background-color: wheat;
}

#card-information {
  margin-right: 20px;
}

#recipe-title {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  color: #6e4d3d;
  background-color: lemonchiffon;
}

#recipe-dietary {
  display: flex;
  max-width: 600px;
  max-height: 500px;
  width: auto;
  height: auto;
  border-radius: 10px;
  margin-top: 20px;
}

#recipe-image {
  display: block;
  width: 70%;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

#recipe-price {
  text-align: left;
}

#recipe-servings {
  text-align: left;
}

#recipe-cooking-time {
  text-align: left;
}

#recipe-calories,
#recipe-total-calories {
  text-align: left;
  padding-left: 55px;
  padding-top: 13px;
  padding-bottom: 13px;
}

#recipe-score {
  text-align: left;
}

li > img {
  margin-right: 10px;
}

.favorite-button {
  justify-items: center;
  display: grid;
  position: absolute;
}

.favorite-button > button {
  background-color: wheat;
  border: 2.5px solid #6e4d3d;
  border-radius: 20px;
  padding: 10px;
  position: relative;
  z-index: 2;
}

.favorite-button > button:hover {
  cursor: pointer;
  filter: brightness(96%);
}

.favorite-button > img {
  position: absolute;
  margin-left: -150px;
  margin-top: 5px;
  z-index: 3;
}
