/** recipeViewer.css **/

body {
  font-family: Georgia, serif;
}

.flex-container {
  display: flex;
  justify-content: center;
}

#card-information {
  background-color: #fff4e6;
}

#recipe-title {
  text-align: center;
  margin: 20px;
  font-size: 3rem;
  border: 5px solid;
  border-radius: 10px;
  background-color: wheat;
  color: #6e4d3d;
  font-weight: bold;
  padding: 10px 0;
}

#recipe-image {
  border: 2.5px solid #6e4d3d;
  display: block;
  max-width: 600px;
  max-height: 500px;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-radius: 10px;
}

#left-flex {
  width: 60%;
}

#info-container {
  display: block;
  text-align: justify;
  border: 2.5px solid #6e4d3d;
  border-radius: 10px;
  padding: 25px;
  width: 16rem;
  margin: 20px auto;
  background-color: wheat;
}
#select-all-ing {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
}
#add-shopping {
  display: block;
  text-align: center;
  border-radius: 10px;
  margin: 20px auto;
  background-color: #fcc42b;
  padding: 10px;
  border: 2.5px solid #6e4d3d;
}

#recipe-ingredients {
  border: 2.5px solid #6e4d3d;
  border-radius: 10px;
  padding: 20px 20px 10px 5px;
  margin-left: 40px;
  margin-right: auto;
  width: 23rem;
  background-color: wheat;
}

#right-flex {
  position: sticky;
  align-self: flex-start;
  top: 0;
}

#recipe-dietary {
  text-align: center;
}

#instruction-header {
  color: #6e4d3d;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  font-size: xx-large;
}

#recipe-instructions {
  margin-left: 30px;
  font-size: larger;
  text-align: justify;
  background-color: wheat;
  border-radius: 10px;
  padding-bottom: 0.3rem;
  padding-right: 0.8rem;
  padding-top: 0.5rem;
  line-height: 130%;
}

#recipe-title,
#recipe-price,
#recipe-cooking-time,
#recipe-servings,
#recipe-calories,
#recipe-total-calories {
  padding-bottom: 5px;
}

ul li {
  padding: 5px 0;
}

ol li {
  padding: 10px 0;
}

h4 {
  text-align: center;
  padding-bottom: 10px;
  color: #6e4d3d;
  font-weight: bold;
}

.favorite-button {
  justify-items: center;
  display: grid;
  position: absolute;
  left: 50px;
}

.favorite-button > button {
  background-color: wheat;
  border: 2.5px solid #6e4d3d;
  border-radius: 20px;
  padding: 8px 20px 3px 50px;
  position: relative;
  z-index: 2;
}

.favorite-button > button:hover {
  cursor: pointer;
  filter: brightness(96%);
}

.favorite-button > img {
  position: absolute;
  margin-left: -150px;
  margin-top: 5px;
  z-index: 3;
}
