/* For hover info from w3*/
.hover-tip {
  position: relative;
  display: inline-block;
  border-bottom: 1px black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.hover-tip .hover-tip-text {
  visibility: hidden; 
  width: 90px;
  background-color: rgb(63, 35, 2);
  color: wheat;
  text-align: center;
  /* padding: 2px 0;  */
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 3;
}

/* Show the tooltip text when you mouse over the tooltip container */
.hover-tip:hover .hover-tip-text {
  visibility: visible;
}

/** recipeViewer.css **/

body {
  font-family: Georgia, serif;
}

.flex-container {
  display: flex;
  justify-content: center;
}

#card-information {
  background-color: #fff4e6;
}

#recipe-title {
  text-align: center;
  margin: 20px;
  font-size: xx-large;
  border: 5px solid;
  border-radius: 10px;
  background-color: wheat;
  color: #6e4d3d;
  font-weight: bold;
  padding: 10px 0;
}

#recipe-image {
  border: 2.5px solid #6e4d3d;
  display: block;
  max-width: 600px;
  max-height: 500px;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-radius: 10px;
}

#left-flex {
  width: 60%;
}

#info-container {
  display: block;
  text-align: justify;
  border: 2.5px solid #6e4d3d;
  border-radius: 10px;
  padding: 25px;
  width: 300px;
  margin: 20px auto;
  background-color: wheat;
}

#recipe-ingredients {
  border: 2.5px solid #6e4d3d;
  border-radius: 10px;
  padding: 20px;
  margin-left: 30px;
  margin-right: auto;
  width: 350px;
  position: sticky;
  align-self: flex-start;
  top: 0;
  background-color: wheat;
}

#recipe-dietary {
  text-align: center;
}

#instruction-header {
  color: #6e4d3d;
  font-weight: bold;
  text-align: center;
}

#recipe-instructions {
  margin-left: 30px;
  font-size: larger;
  text-align: justify;
}

#recipe-title,
#recipe-price,
#recipe-cooking-time,
#recipe-servings,
#recipe-calories,
#recipe-total-calories {
  padding-bottom: 10px;
}

ul li {
  padding: 5px 0;
}

ol li {
  padding: 10px 0;
}

h4 {
  text-align: center;
  padding-bottom: 10px;
  color: #6e4d3d;
  font-weight: bold;
}

.favorite-button {
  justify-items: center;
  display: grid;
  position: absolute;
  left: 50px;
}

.favorite-button > button {
  background-color: wheat;
  border: 2.5px solid #6e4d3d;
  border-radius: 20px;
  padding: 8px 20px 8px 50px;
  position: relative;
  z-index: 2;
}

.favorite-button > button:hover {
  cursor: pointer;
  filter: brightness(96%);
}

.favorite-button > img {
  position: absolute;
  margin-left: -150px;
  margin-top: 5px;
  z-index: 3;
}
