/** featuredRecipe.css **/

#recipe-dietary {
  display: flex;
  max-width: 600px;
  max-height: 500px;
  width: auto;
  height: auto;
  border-radius: 10px;
  margin-top: 10px;
}

.card-img-top {
  border-radius: 30px;
}

.card-body {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  color: #6e4d3d;
}

.card {
  background-color: wheat;
  border-radius: 30px;
}

.card-title {
  padding-bottom: 20px;
  padding-top: 15px;
}

.btn-primary {
  background-color: #ffe293 !important;
  color: black;
  font-weight: bold;
  border: solid black;
}

@media only screen and (max-width: 800px) {
  /* Responsive design for featured recipe cards */
  .card {
    width: 9rem !important;
  }

  h4 {
    font-size: large !important;
  }

  .btn-primary {
    height: 3rem !important;
    font-size: small !important;
  }
}
