/** 
  recipeCard.css 
  "I put in some basic CSS to get you all started. I've already imported bootstrap so feel free to 
  use it. I would recommend the 'card' component." - Jonathan
**/

.card-horizontal {
  display: flex;
  flex: auto;
  align-items: center;
  justify-items: center;
}

.card-body {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.first-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.second-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.recipe-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 2.5px solid red;
  border-radius: 10px;
  margin: 20px;
}

#recipe-dietary {
  text-align: center;
}

#recipe-image {
  display: block;
  max-width: 600px;
  max-height: 500px;
  width: auto;
  height: auto;
  border-radius: 10px;
  margin: 20px;
}

#recipe-price {
  grid-area: price;
  text-align: center;
  border: 2.5px solid red;
  border-radius: 10px;
  margin: 20px;
  font-size: x-large;
}

#recipe-servings {
  grid-area: servings;
  text-align: center;
  border: 2.5px solid red;
  border-radius: 10px;
  margin: 20px;
  font-size: x-large;
}

#recipe-cooking-time {
  grid-area: cooking-time;
  text-align: center;
  border: 2.5px solid red;
  border-radius: 10px;
  margin: 20px;
  font-size: x-large;
}

#recipe-calories {
  grid-area: calories;
  text-align: center;
  border: 2.5px solid red;
  border-radius: 10px;
  margin: 20px;
  font-size: x-large;
}

#recipe-score {
  grid-area: score;
  text-align: center;
  border: 2.5px solid red;
  border-radius: 10px;
  margin: 20px;
  font-size: x-large;
}

#recipe-total-calories {
  grid-area: total-calories;
  text-align: center;
  border: 2.5px solid red;
  border-radius: 10px;
  margin: 20px;
  font-size: x-large;
}

