<!-- Recipe Card HTML Structure -->
<recipe-card>
  <!-- Shadow DOM -->
  <section>
    <main id='card-information'>
      <div id='recipe-title'> </div>
      <div id='recipe-cooking-time'> </div>
      <div id='recipe-score'> </div>
      <div id='recipe-servings'> </div>
      <div id='recipe-calories'> </div>
      <div id='recipe-total-calories'> </div>
    </main>
    <aside id ='card-visuals'>
      <fig id='visual'>
        <img id='recipe-image'/>
        <figcaption id='recipe-dietary'>
      </fig>
    </aside>
  </section> 
  <!-- END OF SHADOW DOM -->
<recipe-card>
