body {
  font-family: Georgia, serif;
}

#shadow {
  border: solid black 2px;
  border-radius: 30px;
  background-color: #ffd4b0;
}

#recipe-title {
  display: inline-block;
  text-align: center;
  margin: 20px;
  font-size: xx-large;
  border: 5px solid;
  border-radius: 10px;
  background-color: wheat;
  color: #6e4d3d;
  font-weight: bold;
  padding: 10px 0;
}

#recipe-title:hover{
  cursor: pointer;
  background-color: #ffe293;
}

.form-control[disabled] {
  background-color: white;
  border: solid 2px #6e4d3d;
}

.input-group-text {
  background-color: #ffe293;
  opacity: 0.9;
  border: solid 2px #6e4d3d;
}

.input-group-text:hover {
  opacity: 1;
}

.card-footer {
  background-color: transparent;
  display: inline-flex;
  justify-content: right;
}

#trash-btn {
  cursor: pointer;
}

input[type="checkbox"] {
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .card-header {
    font-size: x-large !important;
  }
}
